{{!-- <ul class="product-card-group images"> --}}
    {{#each this}}
    <li class="product-card">
        <div class="product-image">
            {{#each imageUrls }}
            <img class="product-img" src="{{ this }}" alt="{{title}}" />
            {{/each }}

            <div class="product-overlay">
                <button class="product-card-icon product-card-icon-favorite">
                    <span data-like data-id="{{_id}}" data-idl data-title="{{title}}"
                    class=" material-icons cardset__icons unauthorized {{liked}}">favorite_border</span>
                </button>
                <button class="product-card-icon product-card-icon-fullscreen">
                   <span data-modal="true" data-hbs="6" data-open data-callid="{{_id}}" data-title="{{title}}"
                    class="material-icons cardset__icons">fullscreen</span>
                </button>
            </div>
        </div>
        <div class="product-content">
            <h3 class="product-name">{{title}}</h3>
            <p class="product-price">{{price}} грн</p>

        </div>
    </li>
    {{/each}}

    {{!--
</ul> --}}