<ul class="product-card-group">
    {{#each this}}
    <li class="product-card" data-id={{_id}} data-category=“{{category}}” data-description=“{{description}}”
        data-phone=“{{phone}}” data-userID=“{{userId}}” data-title=“{{title}}” data-images=“{{imageUrls}}”
        data-price=“{{price}}”>
        <div class="product-image">
            <img class="product-img" src="./images/rectangle-7.jpg" alt="" />
            <div class="product-overlay">
                <button class="product-card-icon product-card-icon-favorite">
                    <svg class="icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-favorite-icon"></use>
                    </svg>
                </button>
                <button class="product-card-icon product-card-icon-fullscreen">
                    <svg class="icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-full-screen"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="product-content">
            <h3 class="product-name">{{title}}</h3>
            <div class="product-content-price">
                <p class="product-price-initial decorative-line">{{oldPrice}}</p>
                <p class="product-price-sale">{{price}} грн</p>
            </div>
        </div>
    </li>
    {{/each}}
</ul>